<!DOCTYPE html>
<html>
<head>
	<title>Magic Mirror On The Wall</title>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script src="i18n/angular-locale_sv-se.js"></script>
	<script type="text/javascript" src="appControl.js"></script>

	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="app">
<div class="content" ng-controller="MainCtrl as main">
	<h1 class="maintitle">Fun times {{main.title}}</h1>

	<div class="left">
		<div class="news card" ng-repeat="value in main.news">
			<h3>{{value.title}}</h3>
			<!-- <p>{{value.description}}</p> -->
			<p>{{value.date | date : 'EEE, H:mm'}}</p>
		</div>
	</div>

	<div class="right">
		<div class="weather card" ng-repeat="(key, value) in main.weather">
			<h3>{{value.time | date : 'EEE, H:mm'}}</h3>
			<p>{{value.temperature}} C - {{value.precipitation}} mm - {{value.windspeed}} m/s</p>
			<!--"temperature": parsedBody.timeseries[i].t,
				"time": +new Date(parsedBody.timeseries[i].validTime),
				"windspeed": parsedBody.timeseries[i].ws,
				"winddirection": parsedBody.timeseries[i].wd,
				"totalcloudamount": parsedBody.timeseries[i].tcc,
				"precipitation": parsedBody.timeseries[i].pit,
				"precipitationtype": parsedBody.timeseries[i].pcat-->
		</div>
	</div>

</div>
</body>
</html>